<div class="m-message" >
  <ul>
    <li >
      <p class="time"><span>16:48</span></p>
      <div class="main">
        <img class="avatar" width="30" height="30" [src]="'assets/dist/images/2.png'"/>
        <div class="text">hello</div>
      </div>
    </li>
    <li >
      <p class="time"><span>16:49</span></p>
      <div class="main" [ngClass]="{'self':true}">
        <img class="avatar" width="30" height="30" [src]="'assets/dist/images/3.jpg'"/>
        <div class="text">hello too</div>
      </div>
    </li>
  </ul>
</div>
